
#homeHeader {
	font-size: 5rem;
}

body, footer {
	background: #ffffff !important; /*#cc66ff;*/
	color: #000000;
}

footer {
	background: #7700b3 !important;
}

nav, .card-pink {
	background: #000000 !important;
}

a {
	color: #ffd633;
}
#menu a {
	color: #ffab40;
}

/*.grid-item {
	width: 33.33%;
}
.grid-item-width2 {
	width: 66.66%;
}*/
.row.masonry .col {
	margin: 0 !important;
	padding: 0 3px 0 3px !important;
}
.grid-item img {
	width: 100%;
	height: 100% !important;
}

.masonry img {
	width: 100%;
	height: 100% !important;
}
.masonry div {
	margin: 0;
}

.map-outer, iframe {
	width:100% !important;
	max-height: 650px !important;
	margin: auto;
}

